/*
    Author: Eduardo Burzlaff
    Date: 05/dd/2020
*/

body {
    background-image: url(../images/erol-ahmed-XsQ8nUKpAO4-unsplash.jpg);
    background-color: #bda346;
    background-size: auto;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    text-align: center;
}
header {
    border: 2px solid #c27115;
    background-color: white;
    height: 120px;
    margin-top: 10px;

}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-right: 30px;
    font-size: 15px;
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: brown;
}
nav a:hover {
    color: blue;
    text-decoration: underline;
}
footer {
    background-color: #e6cb6a;
    border-top: 2px solid brown;
    margin-top: 30px;
    padding: 0 10px 10px 10px;

}
footer address {text-align: right;}
footer a {color: green;}
footer a:hover {color: blue;}

@media screen and (max-width: 40em) {
    header {
        height: auto;
    }
    nav li {
        display: block;
        line-height: 40px;
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
}
