/*
    Author: Eduardo Burzlaff
    Date: 05/dd/2020
*/
.orderHeader {
    background-color: white;
    border: 2px solid brown;
    margin: 35px auto;
    text-align: center;
    width: 70%;
}
form {
    background-color: #e6b873;
    width: 50%;
    text-align: left;
    border: 2px solid brown;
    margin: auto;
    padding: 20px;
}
.buttons {
    text-align: center;
}
input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: black;
    color: white;
}
